<!-- <!DOCTYPE html>
<html ng-app="webapp">
	<head>
		<title>Home</title>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
		<script src="core.js"></script>
		<script src="../javascripts/angular-route.js"></script>
		<script src="../controllers/home.js"></script>
		<script src="../services/authenticationService.js"></script>
	</head>

	<body> -->

		<h1>Welcome</h1>

		<h3>Users</h3>
		<div ng-controller="getUsers">
			<ul>
				<li ng-repeat="x in myData">
					<p ng-click="redirectUser(x._id)">
						{{ 'Email : ' + x.email }}
					</p>
				</li>
			</ul>
		</div>

		<h3>Groups</h3>
		<div ng-controller="getGroups">
			<ul>
				<li ng-repeat="x in myData">
					<p ng-click="redirectGroup(x._id)">
						{{ 'Name : ' + x.name }}
					</p>
				</li>
			</ul>

			<input type="button" value="Create Group" ng-click="moveToCreateGroup();">
		</div>


	<!-- </body>
</html> -->
