extends layout

block content
  h1= title
  p Welcome to #{title}

  #wrapper

  h2 SignUp
  form(name="signup", method="post", action="/users/signup")
      div.input
          span.label Firstname
          input(type="text", name="firstname")
      div.input
          span.label Lastname
          input(type="text", name="lastname")
      div.input
          span.label email
          input(type="text", name="email")
      div.input
          span.label Biography
          textarea(name="description", cols="40", rows="5")
      div.actions
          input(type="submit", value="Signup !")
